a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.navigation {
    height: 50px;
    background-color: #4e4e4e;
}

.disabled {
    cursor: not-allowed;
}

.navigation .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.companyName {
    font-weight: 700;
}

.linksList {
    display: flex;
}

.offer {
    margin: 0 45px;
}
