.container {
    width: 1140px;
    background-color: #f1f1f1;
    padding: 20px 70px;
}

.mainTitle {
    color: #152d41;
    font-size: 28px;
    border: none;
    margin: 10px 0 0 0;
}

.mainPerson {
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding: 0 5px 0 5px;
}

.mainPersonPhotoFirst {
    width: 200px;
    height: 130px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin: 0 50px 0 0;
}

.mainPersonInfoFirst {
    font-size: 14px;
}

.mainPersonInfoSecond {
    font-size: 14px;
    text-align: right;
}

.mainPersonPhotoSecond {
    width: 200px;
    height: 130px;
    background-color: #907d7d;
    border-radius: 50%;
    margin: 0 0 0 50px;
}
