.header {
    height: calc(100vh - 80px);
    background: no-repeat center;
    background-size: cover;
}

.header .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 50px;
}

.shadow {
    background: rgba(0, 0, 0, 0.15);
    height: 100%;
}

.headerTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
}

.headerSubtitle {
    margin: 44px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.offerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 40.74px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    border: 3px solid #ffffff;
    transition: 1s;
}

.offerBtn:hover {
    background: #ffffff;
    color: black;
}
