.footer {
    height: 50px;
    background-color: #4e4e4e;
    color: #ffffff;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
}

.icons {
    display: flex;
    gap: 20px;
    color: #ffffff;
    font-size: 22px;
}
